root = true

[*]
charset = utf-8
indent_style = space
indent_size = 2
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.php]
indent_size = 4

[{mail, views}/**/*.php]
indent_size = 2

[modules/**/views/**/*.php]
indent_size = 2
[modules/**/views/**/*.js]
indent_size = 2
